<footer>
  <div class="container">
       <div class="row">

            <div class="col-md-5 col-sm-6">
                 <h2>Medico 24/7</h2>
                 <p>Calcutta Institute of Engineering and Management<br> 24/1A, Chandi Ghosh Road<br>
Kolkata -700040, West Bengal, India</p>


            </div>

            <div class="col-md-4 col-sm-6">
                 <div class="footer-info">
                   <h2>Keep in touch</h2>
                      <p><a href="tel:9875670236">010-090-0780</a></p>
                      <p><a href="mailto:info@medico.com">info@medico.com</a></p>
                      <p><a href="#">Our Location</a></p>
                 </div>
            </div>

            <div class="col-md-3 col-sm-12">

                 <h2>About Us</h2>
                 <p>Medico24/7 application is &nbsp;being created for making the use of medical world easier and making it more approachable to the patients all around the world .The main concept for making this application
                         is to bridge the gap between the physical world of medical and the digital world.</p>
                 <ul class="social-icon">
                      <li><a href="#" class="fab fa-twitter"></a></li>
                      <li><a href="#" class="fab fa-facebook"></a></li>
                      <li><a href="#" class="fab fa-instagram"></a></li>
                      <li><a href="#" class="fab fa-linkedin"></a></li>
                 </ul>

            </div>

            <div class="clearfix"></div>

            <div class="col-md-12 col-sm-12">
                 <div class="copyright-text">
                      <p>Copyright © 2020 Medico 24/7</p>
                 </div>
            </div>

       </div>
  </div>
</footer>

