.sidenav-container {
  height: 11%;
}

.sidenav {
  width: 200px;
}
.cur {
  cursor: pointer;
}
.sidenav .mat-toolbar {
  background: inherit;
}

.mar {
  margin-right: 8px;
}

.mat-toolbar.mat-prim {
  position: sticky;
  top: 0;
  z-index: 1;
}

.titleWidth {
  width: 80%;
}

.badge {
  padding-left: 9px;
  padding-right: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
  background-color: #c67605;
}
#lblCartCount {
    font-size: 12px;
    background: #ff0000;
    color: #fff;
    padding: 0 5px;
    vertical-align: top;
    margin-left: -10px;
}
