
<form class="example-form" [formGroup]="registration" (submit)="register()" >
  <mat-form-field class="example-full-width">
    <mat-label>First Name</mat-label>
    <input type="text" matInput placeholder="First Name" formControlName="firstname" required>
    <mat-error
    *ngIf="registration.get('firstname').invalid" >Please enter the title</mat-error>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Last Name</mat-label>
    <input type="text" matInput placeholder="Last Name" formControlName="lastname" required>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Email</mat-label>
    <input type="email" matInput placeholder="Email" formControlName="email" required>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Mobile No.</mat-label>
    <input type="text" matInput placeholder="Mobile Number" formControlName="mobile" required>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Choose a date</mat-label>
    <input matInput [matDatepicker]="picker" placeholder="dob" formControlName="dob">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Password</mat-label>
    <input type="password" matInput placeholder="Password" formControlName="password" required>
    <div>
      <mat-error
      *ngIf="registration.errors?.invalidPassword" >Password and Confirm Password should be same
    </mat-error>
    </div>

  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Confirm Password</mat-label>
    <input type="password" matInput placeholder="Confirm Password" formControlName="confirm_password" required>
  </mat-form-field>
  <div>
    <button type="submit" [disabled]="registration.invalid" mat-raised-button color="primary" >SignUp</button>
  </div>
</form>

