
  <div>
    <div *ngFor="let orders of orderDatas">
      <div *ngFor="let item of orders.data" >
        Name:
        {{item.shippingAddress.userName}}
        <br>
        Address:
        {{item.shippingAddress.addressLine1}}
        {{item.shippingAddress.addressLine2}}
        <br>
        {{item.shippingAddress.city}}
        {{item.shippingAddress.pin}}
        <br>
        <div *ngFor="let item of item.products" >
          <img mat-card-image class="mat-cards" [src]="item.imageUrl" [alt]="item.productName">
         Productname:
         {{item.productName}}
         Price: {{item.price | currency: 'INR'}}
          Quantity:{{item.quantity}}

        </div>
        <br>
      </div>
    </div>
  </div>
  <!-- <ng-template ngFor let-order [ngForOf]="orderDatas" let-i="index">

  </ng-template> -->


