<!-- {{ productDetails | json}}
<h3>
  {{productDetails?.productName}}
</h3>
<mat-divider></mat-divider>
<mat-grid-list cols="4">
  <mat-grid-tile colspan="1" rowspan="2">
    <img class="fitWidth" mat-card-image [src]="productDetails?.imageUrl">
  </mat-grid-tile>
  <mat-grid-tile colspan="3" rowspan="1">
    <mat-grid-tile-header>
      Description
    </mat-grid-tile-header>
    <div>
      {{productDetails?.description}}
    </div>
  </mat-grid-tile>
  <mat-grid-tile colspan="1" rowspan="1">
    <mat-grid-tile-header>
      Quantity
    </mat-grid-tile-header>
    <div>
      <mat-select class="matSelect" required [formControl]="quantity" placeholder="Quantity" name="qty">
        <mat-option *ngFor="let qty of [1,2,3,4,5,6,7,8,9,10]" [value]="qty">
          {{qty}}
        </mat-option>
      </mat-select>
    </div>
  </mat-grid-tile>

  <mat-grid-tile colspan="2" rowspan="1">
    <mat-grid-tile-header>
      Price
    </mat-grid-tile-header>
    <div>
      {{productDetails?.price | currency: 'INR'}}
    </div>
  </mat-grid-tile> -->
  <div>
    <div *ngFor="let orders of orderDatas">
      <div *ngFor="let item of orders.data" >
        Name:
        {{item.shippingAddress.userName}}
        <br>
        Address:
        {{item.shippingAddress.addressLine1}}
        {{item.shippingAddress.addressLine2}}
        <br>
        {{item.shippingAddress.city}}
        {{item.shippingAddress.pin}}
        <br>
        <div *ngFor="let item of item.products" >
          <!-- <img mat-card-image class="mat-cards" [src]="item.imageUrl" [alt]="item.productName"> -->
         Productname:
         {{item.productName}}
         Price: {{item.price | currency: 'INR'}}
          Quantity:{{item.quantity}}

        </div>
        <br>
      </div>
      <!-- <div *ngFor="let order of orders" >
        <div *ngFor="let multipleData of order" >
          <div *ngFor="let data of multipleData" >
            {{data.status}}
          </div>
        </div>
      </div> -->
    </div>
  </div>
  <!-- <ng-template ngFor let-order [ngForOf]="orderDatas" let-i="index">

  </ng-template> -->


