
<!-- multi="true" *ngIf="posts.length>0 && !isLoading" -->
<app-main-nav></app-main-nav>
<mat-accordion multi="true" *ngIf="products.length>0" >
  <mat-expansion-panel *ngFor="let product of products">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{product.productName}}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div>
      <p>{{product.categoryName}}</p>
    </div>
    <div class="post-images">
      <img [src]="product.imageUrl" [alt]="product.productName">
    </div>
      <p> {{product.description}}</p>
      <p>{{product.price}}</p>
    <mat-action-row>
      <a mat-button color="primary"
      [routerLink]="['/edit',product.id]">Edit</a>
      <button mat-button color="warn" (click)="onDelete(product.id)">Delete</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<mat-paginator class="margin"
[length] = 'productLength'
[pageSize]= 'productPerpage'[pageSizeOptions]="productPerpageOption"
(page)="onChange($event)" *ngIf="products.length>0">
</mat-paginator>
<p class="info-text mat-body-1"
*ngIf="products.length<=0">No product yet</p>
<br>
<button mat-button class= "btn btn-primary btn-block" routerLink="/Admin/product/create">Add product</button>
<app-footer></app-footer>
