<app-main-nav></app-main-nav>
<!--Main Navigation-->
<p>works</p>
<header>

    <!-- Navbar -->
</header>
<!--Main Navigation-->

<!--Main layout-->
<main class="pt-5 mx-lg-5">
    <div class="container-fluid mt-5">

        <!-- Heading -->
        <app-blood-bank-branch (addBranch)="branch($event)" *ngIf="idForBed != 2"></app-blood-bank-branch>
        <!-- Heading -->
        <app-blood-chart [bloods]="ultimateResult" [id2]="idForBed" [hospitalAddress]="BloodBankAddress" [state]="state" [city]="city" [pin]="pin"></app-blood-chart>

    </div>
</main>
<!--Main layout-->
<br>
<hr>
<app-footer></app-footer>
