<p>hospital-display works!</p>

<body class="single-page">
    <header>


        <img src="../../../assets/hospital/apollo.jpg" alt="" width="100%">
    </header>
    <!-- .site-header -->
    <br>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div>
                    <h2>
                        Apollo Gleneagles Hospitals Limited
                    </h2>
                </div>
            </div>
        </div>
    </div>

    <div class="contact-page-short-boxes">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-4 mt-5 mt-lg-0">
                    <div class="contact-info h-100">
                        <h2 class="d-flex align-items-center">Contact Info</h2>

                        <ul class="p-0 m-0">
                            <li><span>Addtress:</span>58, Canal Circular Rd, Kadapara, Phool Bagan, Kankurgachi, Kolkata, West Bengal 700054</li>
                            <li><span>Phone:</span>033 2320 3040</li>
                            <li><span>Email:</span>info@apollohospitals.com</li>
                        </ul>
                    </div>
                </div>

                <div class="col-12 col-md-4 mt-5 mt-lg-0">
                    <div class="opening-hours h-100">
                        <h2 class="d-flex align-items-center">Opening Hours</h2>

                        <ul class="p-0 m-0">
                            <li>Monday - Thursday <span>7:00am – 6:00pm</span></li>
                            <li>Friday <span>7:00am – 6:00pm</span></li>
                            <li>Saturday <span>7:00am – 6:00pm</span></li>
                            <li>Sunday <span>7:00am – 6:00pm</span></li>
                        </ul>
                    </div>
                </div>

                <div class="col-12 col-md-4 mt-5 mt-lg-0">
                    <div class="emergency-box h-100">
                        <h2 class="d-flex align-items-center">Emergency</h2>

                        <div class="call-btn text-center">
                            <a class="d-flex justify-content-center align-items-center button gradient-bg" href="#"><img src="../../../assets/hospital/emergency-call.png"> 1066 </a>
                        </div>

                        <p>An easy to remember emergency access number - 1066. Ambulances that are well equipped and manned by trained personnel - indeed a veritable 'Hospital on Wheels'.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row elements-wrap">
            <div class="col-12">
                <header class="entry-header elements-heading">
                    <h2 class="entry-title">BEDS</h2>
                </header>

                <div class="entry-content elements-container">
                    <div class="row">
                        <div class="col-12 col-sm-6 col-md-6 offset-lg-1 col-lg-2">
                            <div class="c100 p50 dark big orange">
                                <span>50%</span>
                                <div class="slice">
                                    <div class="bar"></div>
                                    <div class="fill"></div>
                                </div>
                            </div>
                            <h3>
                                ICU
                            </h3>
                        </div>
                        <div class="col-12 col-sm-6 col-md-6 offset-lg-1 col-lg-2">
                            <div class="c100 p50 dark big orange">
                                <span>50%</span>
                                <div class="slice">
                                    <div class="bar"></div>
                                    <div class="fill"></div>
                                </div>
                            </div>
                            <h3>
                                ICU
                            </h3>
                        </div>
                        <div class="col-12 col-sm-6 col-md-6 offset-lg-1 col-lg-2">
                            <div class="c100 p50 dark big orange">
                                <span>50%</span>
                                <div class="slice">
                                    <div class="bar"></div>
                                    <div class="fill"></div>
                                </div>
                            </div>
                            <h3>
                                ICU
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="contact-page-map">
                    <iframe id="gmap_canvas" src="https://maps.google.com/maps?q=Apollo Gleneagles Hospitals Limited, Canal Circular Road, Kadapara, Phool Bagan, Kankurgachi, Kolkata, West Bengal&t=&z=15&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0"
                        marginwidth="0"></iframe>
                </div>
                <!-- map -->
            </div>
        </div>
    </div>

</body>
