<app-main-nav></app-main-nav>
<form class="example-form" (submit)="passwordUpdate()" #myForm="ngForm">
  <mat-form-field class="example-full-width">
    <mat-label>TokenId</mat-label>
    <input type="text" matInput placeholder="tokenId" name="token"
    [(ngModel)]="user.token" required>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Password</mat-label>
    <input type="password" matInput placeholder="password.." name="password"
    [(ngModel)]="user.password" required>
  </mat-form-field>
  <div>
    <button type="submit" mat-raised-button color="primary" [disabled]="!myForm.form.valid">Submit</button>
  </div>

</form>
<app-footer></app-footer>
