  <!DOCTYPE html>
  <html lang="en">
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
      <link href="http://netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
      <style type="text/css">

      </style>
  </head>
  <body>
  <div class="panel panel-default panel-order" >
    <div class="panel-heading">
        <strong>Order history</strong>
        <div class="btn-group pull-right">
            <div class="btn-group">
        <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
          Filter history <i class="fa fa-filter"></i>
        </button>
        <ul class="dropdown-menu dropdown-menu-right">
          <li><a href="#">Approved orders</a></li>
          <li><a href="#">Pending orders</a></li>
          <li><a href="#">All orders</a></li>
        </ul>
        </div>
      </div>
    </div>
    <div class="panel-body" *ngFor="let orders of orderDatas[0]">
      <div class="row" *ngFor="let item of orders.data" >
        <div class="col-md-2" *ngFor="let item of item.products">
            <img [src]="item.imageUrl" [alt]="item.productName" class="media-object img-thumbnail">
        </div>
        <br>
        <div class="col-md-10" >
          <div class="row">
            <div class="col-md-12" >
              <div class="pull-right">
                <label class="label label-danger" *ngIf="item.status === 'rejected'">Rejected</label>
              </div>
              <div class="pull-right"><label class="label label-primary" *ngIf="item.status === 'Placed'">Approved </label></div>
              <div class="pull-right"><label class="label label-success" *ngIf="item.status === 'Delivered'">Delivered</label> </div>
              <div class="pull-right"><label class="label label-info" *ngIf="item.status === 'Pending'">Pending</label> </div>
            </div>
            <div class="col-md-12" *ngFor="let item of item.products" >
              <span><strong>Order name</strong></span>
              <span class="label label-info">{{item.productName }}</span>
              <br><br><br>
              Quantity : {{item.quantity}}, cost:  {{item.price | currency: 'INR'}} <br>
            </div>
            <div class="col-md-12">
              <strong>Address:</strong>
               {{item.shippingAddress.addressLine1}}
               {{item.shippingAddress.addressLine2}}
               {{item.shippingAddress.city}}
               {{item.shippingAddress.pin}}
               <br>
               <strong>Total Price:</strong>
               {{item.total | currency: 'INR'}}
            </div>
            <div class="col-md-12"></div>
            <div class="col-md-12"></div>
            <div class="col-md-12">
              <a data-placement="top" class="btn btn-success btn-xs glyphicon glyphicon-ok" (click)= "sendStatusPlaced(item._id)"  title="Approved"></a>
              <a data-placement="top" class="btn btn-danger  btn-xs glyphicon glyphicon-trash" href="#" title="Rejected"></a>
              <a data-placement="top" class="btn btn-info  btn-xs glyphicon glyphicon-thumbs-up" href="#" title="Delivered"></a>
            </div>
            <div class="col-md-12">
              order made on: {{item.createdOn}} by <a href="#">{{item.shippingAddress.userName}} </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="http://netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <script type="text/javascript">



  </script>
  </body>
  </html>




