/* .mat-cards  {
  height: 20%;
  width: 20%;
  float: left;
} */
.panel-order .row {
  border-bottom: 1px solid #ccc;
}
.panel-order .row:last-child {
  border: 0px;
}
.panel-order .row .col-md-2  {
  text-align: center;
  padding-top: 15px;
}
.panel-order .row .col-md-2 img {
  width: auto;
  max-height: auto;
}
.panel-order .row .row {
  border-bottom: 0;
}
.panel-order .row .col-md-10 {
  border-left: 1px solid #ccc;
}
.panel-order .row .row .col-md-12 {
 padding-top: 7px;
  padding-bottom: 7px;
  padding-right: -50px;
}
.panel-order .row .row .col-md-12:last-child {
  font-size: 11px;
  color: #555;
  background: #efefef;
}
.panel-order .btn-group {
  margin: 0px;
  padding: 0px;
}
.panel-order .panel-body {
  padding-top: 0px;
  padding-bottom: 0px;
}
.panel-order .panel-deading {
  margin-bottom: 0;
}

.cursor {
  cursor: pointer;
}

