<!-- <form class="example-form" (submit)="login()" #myForm="ngForm">
  <mat-form-field class="example-full-width">
    <mat-label>Email</mat-label>
    <input type="email" matInput placeholder="Email" name="email"
    [(ngModel)]="user.email" required>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Passoword</mat-label>
    <input type="password" matInput placeholder="Password" name="password"
    [(ngModel)]="user.password" required>
  </mat-form-field>
  <div>
    <button type="submit" mat-raised-button color="primary" [disabled]="!myForm.form.valid">Login</button>
    <button type="submit" routerLink="/register" mat-raised-button color="primary" >SignUp</button>
  </div>

</form> -->
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signin</title>
    <link rel="stylesheet" href="../../../assets/assets_login/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../../assets/assets_login/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="../../../assets/assets_login/fonts/ionicons.min.css">
    <link rel="stylesheet" href="../../../assets/assets_login/fonts/fontawesome-webfont.eot">
    <link rel="stylesheet" href="../../../assets/assets_login/fonts/fontawesome-webfont.svg">
    <link rel="stylesheet" href="../../../assets/assets_login/fonts/fontawesome-webfont.ttf">
    <link rel="stylesheet" href="../../../assets/assets_login/fonts/fontawesome-webfont.woff">
    <link rel="stylesheet" href="../../../assets/assets_login/fonts/fontawesome-webfont.woff2">
    <link rel="stylesheet" href="../../../assets/assets_login/fonts/FontAwesome.otf">
    <link rel="stylesheet" href="../../../assets/assets_login/fonts/ionicons.eot">
    <link rel="stylesheet" href="../../../assets/assets_login/fonts/ionicons.svg">
    <link rel="stylesheet" href="../../../assets/assets_login/fonts/ionicons.ttf">
    <link rel="stylesheet" href="../../../assets/assets_login/fonts/ionicons.woff">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bitter:400,700">
    <link rel="stylesheet" href="../../../assets/assets_login/css/Features-Blue.css">
    <link rel="stylesheet" href="../../../assets/assets_login/css/Footer-Dark.css">
    <link rel="stylesheet" href="../../../assets/assets_login/css/Header-Dark.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/css/swiper.min.css">
    <link rel="stylesheet" href="../../../assets/assets_login/css/Login-Form-Clean.css">
    <link rel="stylesheet" href="../../../assets/assets_login/css/Projects-Horizontal.css">
    <link rel="stylesheet" href="../../../assets/assets_login/css/Registration-Form-with-Photo.css">
    <link rel="stylesheet" href="../../../assets/assets_login/css/Simple-Slider.css">
    <link rel="stylesheet" href="../../../assets/assets_login/css/styles.css">
    <script src="../../../assets/assets_login/js/jquery.min.js"></script>
    <script src="../../../assets/assets_login/bootstrap/js/bootstrap.min.js"></script>
    <script src="../../../assets/assets_login/js/bs-animation.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/js/swiper.jquery.min.js"></script>
    <script src="../../../assets/assets_login/js/Simple-Slider1.js"></script>

</head>

<body style="background-repeat:no-repeat;">
    <app-main-nav></app-main-nav>
    <div class="login-clean" style="background-image:url(&quot;../../../../../assets/assets_login/img/action-adult-affection-eldery-339620.jpg&quot;);background-position:center;background-repeat:no-repeat;background-size:cover;">
        <form (submit)="login()" #myForm="ngForm">
            <h2 class="sr-only">Login Form</h2>
            <div class="illustration"><i class="icon ion-ios-navigate"></i></div>
            <mat-form-field class="example-full-width">
              <mat-label>Email</mat-label>
              <input type="email" matInput placeholder="Email" name="email" #email = "ngModel"
              [(ngModel)]="user.email" required>
              <mat-error
              *ngIf="email.invalid" >Please enter a valid Email</mat-error>
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <mat-label>Passoword</mat-label>
              <input type="password" matInput placeholder="Password" name="password" #password ="ngModel"
              [(ngModel)]="user.password" required>
              <mat-error
              *ngIf="password.invalid" >Please enter the Password
              </mat-error>
            </mat-form-field>
            <div class="form-group">
              <button class="btn btn-pink btn-block waves-effect waves-light" type="submit" [disabled]="!myForm.form.valid">Log In</button>
            </div><a routerLink='/emailSubmit' class="forgot">Forgot your email or password?</a>
        </form>
    </div>
    <div class="simple-slider">
        <div class="swiper-container">
            <div class="swiper-wrapper" style="margin:-1px;"></div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </div>
    <app-footer></app-footer>
</body>

</html>

