<p>chart works!</p>
<h3 *ngIf="id2 == 2">Click the display button to see the chart and For other branches You have to refresh the page</h3>
<button class="btn btn-primary" (click)="display()" *ngIf="id2 == 2">Display</button>
<br><br>
<hr>
<br>
<!--Grid row-->
<div class="row wow fadeIn" *ngIf="id === 1">

    <!--Grid column-->
    <div class="col-md-6 mb-4">

        <!--Card-->
        <div class="card">

            <!--Card content-->
            <div class="card-header text-center">
                BarChart
            </div>
            <div class="card-body">
                <google-chart #chart [title]="title" [type]="type" [data]="data" [columnNames]="columnNames" [options]="options" [width]="width" [height]="height">
                </google-chart>
            </div>

        </div>
        <!--/.Card-->

    </div>
</div>
