<mat-card>
  <!-- <mat-spinner [diameter]="50"
  *ngIf="isLoading"></mat-spinner> -->
  <!-- *ngIf="!isLoading" -->
  <form
  [formGroup]="form" (submit)="onSavePost()"
  >
  <mat-form-field class="formControl">
    <mat-label>Product Name</mat-label>
    <input  matInput placeholder="Product Name" formControlName="productName" required>
  </mat-form-field>
  <mat-form-field class="formControl">
    <mat-select formControlName="categoryName"  placeholder="Category" required>
      <mat-option *ngFor="let category of catList" [value]="category.categoryName">
        {{category.categoryName}}
      </mat-option>
    </mat-select>
  </mat-form-field>
    <div>
      <button mat-stroked-button type="button" (click)="filePicker.click()">Pick Image</button>
      <input type="file"
      #filePicker (change)="filegetter($event)">
    </div>
    <div class="image-preview"
    *ngIf="imagePreview !=='' && imagePreview">
      <img [src]="imagePreview" [alt]="form.value.productName">
    </div>
    <mat-form-field class="formControl">
      <mat-label>Price</mat-label>
      <input  matInput placeholder="Price" formControlName="price" required>
    </mat-form-field>
    <mat-form-field>
      <textarea
      matInput name="" id="" rows="6"
      formControlName="description"
       placeholder="Description"></textarea>
      <mat-error
      *ngIf="form.get('description').invalid">Please enter the Description</mat-error>
    </mat-form-field>

    <button color="primary" mat-raised-button type="submit"
    [disabled]='!form.valid'>Submit</button>
  </form>
</mat-card>

