<mat-card>
  <!-- <mat-spinner [diameter]="50"
  *ngIf="isLoading"></mat-spinner> -->
  <!-- *ngIf="!isLoading" -->
  <form
  [formGroup]="form" (submit)="onSavePost()"
  >
  <mat-form-field class="formControl">
    <mat-label>Bed Type</mat-label>
    <input  matInput placeholder="Bed Type" formControlName="bedType" required>
  </mat-form-field>
  <mat-form-field class="formControl">
    <mat-label>Ward</mat-label>
    <input  matInput placeholder="Ward" formControlName="ward" required>
  </mat-form-field>
  <mat-form-field class="formControl">
      <mat-label>Total Bed</mat-label>
      <input  matInput placeholder="Total Bed" formControlName="quantity" required>
  </mat-form-field>
  <mat-form-field class="formControl">
    <mat-label>Avilable Bed</mat-label>
    <input  matInput placeholder="Avilable Bed" formControlName="existingBed" required>
  </mat-form-field>
  <mat-form-field class="formControl">
    <mat-label>Cost</mat-label>
    <input  matInput placeholder="Cost" formControlName="cost" required>
  </mat-form-field>
    <button color="primary" mat-raised-button type="submit"
    [disabled]='!form.valid'>Submit</button>
  </form>
</mat-card>

