<app-main-nav></app-main-nav>
<div class="header">
    <a class="navbar-brand"><img src="../../assets/front_page/images/medico.png" class="img-responsive" alt=""></a>
    <div class="header-right">
        <a class="active" (click)="home()" (mouseenter)="au()">Home</a>
        <a (click)="contact()" (mouseenter)="au()">Contact</a>
        <a (click)="team()" (mouseenter)="au()">About Us</a>
        <a (click)="project()" (mouseenter)="au()">Services</a>
    </div>
</div>


<section id="home" class="parallax-section" *ngIf="id === 0 ">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">

            <div class="col-md-8 col-sm-12">
                <div class="home-text">
                    <h1>Clean hands protect against infection - WHO</h1>
                    <p>Global research on coronavirus disease (COVID-19)</p>
                    <ul class="section-btn">
                        <a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/global-research-on-novel-coronavirus-2019-ncov" class="smoothScroll"><span data-hover="Discover More">Discover More</span></a>
                    </ul>
                </div>
            </div>

        </div>
    </div>

    <!-- Video -->
    <video controls autoplay loop [muted]="'muted'">
          <source src="../../assets/front_page/videos/video.mp4" type="video/mp4">
          Your browser does not support the video tag.
     </video>
</section>

<section id="project" class="parallax-section" *ngIf="id === 0 || id === 3">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-1 col-md-10 col-sm-12">
                <div class="about-info">
                    <br><br><br>
                    <h1><b><i>Medico 24/7</i></b></h1>
                    <br>
                    <br><br>
                </div>
            </div>

            <div class="col-md-6 col-sm-6">
                <!-- PROJECT ITEM -->
                <div class="project-item">
                    <a routerLink="/user/hospital" class="image-popup" (mouseenter)="au()">
                        <img src="../../assets/front_page/images/project-image1.jpg" class="img-fluid" alt="">

                        <div class="project-overlay">
                            <div class="project-info">
                                <a>
                                    <h1 style="background-color:black">HOSPITAL</h1>
                                </a>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-md-6 col-sm-6">
                <!-- PROJECT ITEM -->
                <div class="project-item">
                    <a routerLink="/user/product" class="image-popup" (mouseenter)="au()">
                        <img src="../../assets/front_page/images/project-image2.jpg" class="img-fluid" alt="">

                        <div class="project-overlay">
                            <div class="project-info">
                                <a>
                                    <h1 style="background-color:black">MEDICINE</h1>
                                </a>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-md-6 col-sm-6">
                <!-- PROJECT ITEM -->
                <div class="project-item">
                    <a routerLink="" class="image-popup" (mouseenter)="au()">
                        <img src="../../assets/front_page/images/project-image3.jpg" class="img-fluid" alt="">

                        <div class="project-overlay">
                            <div class="project-info">
                                <a href="#contact">
                                    <h1 style="background-color:black">AMBULANCE</h1>
                                </a>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-md-6 col-sm-6">
                <!-- PROJECT ITEM -->
                <div class="project-item">
                    <a routerLink="/user/bloodBank" class="image-popup" (mouseenter)="au()">
                        <img src="../../assets/front_page/images/project-image4.jpg" class="img-fluid" alt="">

                        <div class="project-overlay">
                            <div class="project-info">
                                <a>
                                    <h1 style="background-color:black">BLOOD BANK</h1>
                                </a>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- TEAM -->

<section id="team" class="parallax-section" *ngIf="id === 0 || id === 2">
    <div class="container">
        <div class="row">

            <div class="col-md-offset-1 col-md-10 col-sm-12">
                <div class="section-title">
                    <h1>Meet Our People</h1>
                </div>
            </div>


            <div class="col-md-6 col-sm-6">
                <!-- PROJECT ITEM -->
                <div class="team-item" (mouseenter)="au()">
                    <img src="../../assets/front_page/images/team-image1.jpeg" class="img-fluid" alt="" height="30%">
                    <div class="team-overlay">
                        <ul class="social-icon">
                            <li>
                                <a href="#" class="fab fa-instagram"></a>
                            </li>
                            <li>
                                <a href="#" class="fab fa-github"></a>
                            </li>
                            <li>
                                <a href="#" class="fab fa-facebook"></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <h1>Souvik Roy</h1>
                <h3>Head Designer & Security Analyst</h3>
            </div>

            <div class="col-md-6 col-sm-6">
                <!-- PROJECT ITEM -->
                <div class="team-item" (mouseenter)="au()">
                    <img src="../../assets/front_page/images/team-image2.jpeg" class="img-fluid" alt="" height="400px">
                    <div class="team-overlay">
                        <ul class="social-icon">
                            <li>
                                <a href="#" class="fab fa-instagram"></a>
                            </li>
                            <li>
                                <a href="#" class="fab fa-github"></a>
                            </li>
                            <li>
                                <a href="#" class="fab fa-facebook"></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <h1>Sourav Seal</h1>
                <h3>Head Database Manager & Backend Developer</h3>
            </div>

            <div class="col-md-6 col-sm-6">
                <!-- PROJECT ITEM -->
                <div class="team-item" (mouseenter)="au()">
                    <img src="../../assets/front_page/images/team-image3.jpeg" class="img-fluid" alt="" height="400px">
                    <div class="team-overlay">
                        <ul class="social-icon">
                            <li>
                                <a href="#" class="fab fa-instagram"></a>
                            </li>
                            <li>
                                <a href="#" class="fab fa-github"></a>
                            </li>
                            <li>
                                <a href="#" class="fab fa-facebook"></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <h1>Debankur Das</h1>
                <h3>Head Backend & Hybrid Developer</h3>
            </div>

            <div class="col-md-6 col-sm-6">
                <!-- PROJECT ITEM -->
                <div class="team-item" (mouseenter)="au()">
                    <img src="../../assets/front_page/images/team-image4.jpeg" class="img-fluid" alt="" height="400px">
                    <div class="team-overlay">
                        <ul class="social-icon">
                            <li>
                                <a href="#" class="fab fa-instagram"></a>
                            </li>
                            <li>
                                <a href="#" class="fab fa-github"></a>
                            </li>
                            <li>
                                <a href="#" class="fab fa-facebook"></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <h1>Joy Saha</h1>
                <h3>Head Android Developer</h3>
            </div>
        </div>
        <br><br><br><br><br><br><br><br>
    </div>
</section>



<!-- CONTACT -->
<section id="contact" class="parallax-section" *ngIf="id === 0 || id === 1">
    <div class="container">
        <div class="row">

            <div class="col-md-offset-3 col-md-6 col-sm-12">
                <div class="section-title">
                    <h1>Talk to us!</h1>
                </div>
            </div>

            <div class="clearfix"></div>

            <div class="col-md-offset-2 col-md-8 col-sm-12">
                <!-- CONTACT FORM HERE -->
                <form id="contact-form" action="#" method="get" role="form">

                    <!-- IF MAIL SENT SUCCESSFULLY -->
                    <h6 class="text-success">Your message has been sent successfully. </h6>

                    <!-- IF MAIL SENDING UNSUCCESSFULL -->
                    <h6 class="text-danger">E-mail must be valid and message must be longer than 1 character.</h6>

                    <div class="col-md-6 col-sm-6">
                        <input type="text" class="form-control" id="cf-name" name="cf-name" placeholder="Name">
                    </div>

                    <div class="col-md-6 col-sm-6">
                        <input type="email" class="form-control" id="cf-email" name="cf-email" placeholder="Email Address">
                    </div>

                    <div class="col-md-12 col-sm-12">
                        <input type="text" class="form-control" id="cf-subject" name="subject" placeholder="Subject">
                        <textarea class="form-control" rows="5" id="cf-message" name="cf-message" placeholder="Message"></textarea>
                    </div>

                    <div class="col-md-offset-4 col-md-4 col-sm-offset-4 col-sm-4">
                        <div class="section-btn">
                            <button type="submit" class="form-control" id="cf-submit" name="submit"><span data-hover="Send Message">Send Message</span></button>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</section>
<app-footer></app-footer>