<app-main-nav>
</app-main-nav>
<!--Main layout-->
<main class="mt-5 pt-4">
    <div class="container wow fadeIn">

        <!-- Heading -->
        <h2 class="my-5 h2 text-center">Checkout form</h2>

        <!--Grid row-->
        <div class="row">

            <!--Grid column-->
            <div class="col-md-8 mb-4">

                <!--Card-->
                <div class="card">

                    <!--Card content-->
                    <form class="card-body" [formGroup]="shippingAddress">

                        <!--Grid row-->
                        <div class="row">

                            <!--Grid column-->
                            <div class="col-md-12 mb-2">

                                <!--firstName-->
                                <div class="md-form ">
                                    <input type="text" id="userName" formControlName="userName" class="form-control" required>
                                    <label for="Full Name" class="">Full Name</label>
                                </div>

                            </div>
                            <!--Grid column-->

                        </div>
                        <!--Grid row-->



                        <!--address-->
                        <div class="md-form mb-5">
                            <input type="text" id="address" class="form-control" formControlName="addressLine1" placeholder="address..." required>
                            <label for="address" class="">Address</label>
                        </div>

                        <!--address-2-->
                        <div class="md-form mb-5">
                            <input type="text" id="address-2" class="form-control" formControlName="addressLine2" placeholder="address...">
                            <label for="address-2" class="">Address 2(optional)</label>
                        </div>

                        <!--Grid row-->
                        <div class="row">

                            <!--Grid column-->
                            <div class="col-lg-4 col-md-12 mb-4">

                                <label for="country">Country</label>
                                <input type="text" class="form-control d-block w-100" id="country" required value="India" required>
                                <label for="pin">PinCode</label>
                                <input matInput placeholder="Pin" pattern="[1-9][0-9]{5}" title="Must be valid pin code" formControlName="pin" required>
                            </div>
                            <!--Grid column-->

                            <!--Grid column-->
                            <div class="col-lg-4 col-md-6 mb-4">

                                <mat-form-field>
                                    <mat-label>State</mat-label>
                                    <div>
                                        <mat-select placeholder="State" formControlName="state" required>
                                            <mat-option *ngFor="let count of countryList" value={{count.name}} (click)="changeCountry($event, count)">{{count.name}} </mat-option>
                                        </mat-select>
                                    </div>
                                </mat-form-field>

                            </div>
                            <div class="col-lg-4 col-md-6 mb-4">

                                <mat-form-field>
                                    <mat-label>City</mat-label>
                                    <div>
                                        <mat-select placeholder="Anycity" formControlName="city">
                                            <mat-option *ngFor="let city of cities" value={{city}}>{{city}}</mat-option>
                                        </mat-select>
                                    </div>
                                </mat-form-field>

                            </div>
                            <!--Grid column-->

                        </div>
                        <!--Grid row-->

                        <hr>

                        <div class="d-block my-3">
                            <div class="custom-control custom-radio">
                                <input id="Pay" name="paymentMethod" type="radio" class="custom-control-input" (click)="idChangeforPay()" checked required value="Pay">
                                <label class="custom-control-label" for="Pay">Pay with card</label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input id="cash" name="paymentMethod" type="radio" class="custom-control-input" (click)="idChange()" required value="cash">
                                <label class="custom-control-label" for="cash">Cash</label>
                            </div>
                        </div>
                        <hr class="mb-4">
                        <button class="btn btn-danger btn-lg btn-block" routerLink="/user/product">Back</button>
                        <button class="btn btn-primary btn-lg btn-block" *ngIf="shippingAddress.valid && id === 1 && idForProduct === 12" type="submit" (click)="placeOrderwithCard()">Continue to checkout</button>
                        <button class="btn btn-primary btn-lg btn-block" *ngIf="shippingAddress.valid && id === 0 && idForProduct === 12" type="submit" (click)="placeOrder()">Continue to checkout</button>

                    </form>

                </div>
                <!--/.Card-->

            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-4 mb-4">

                <!-- Heading -->
                <h4 class="d-flex justify-content-between align-items-center mb-3">
                    <span class="text-muted">Your cart</span>
                    <span class="badge badge-secondary badge-pill">{{cartCount}}</span>
                </h4>

                <!-- Cart -->
                <ul class="list-group mb-3 z-depth-1">
                    <li class="list-group-item d-flex justify-content-between lh-condensed" *ngFor="let item of products">
                        <div>
                            <h5 class="my-0">{{item.productName}}</h5>
                            <h5 class="my-0">Quantity: {{item.quantity}}</h5>
                            <small class="text-muted"><img class="imageSize" [src]="item.imageUrl"></small>
                        </div>
                        <span class="text-muted">{{item.price | currency: 'INR'}}</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between">
                        <span>Total (INR)</span>
                        <strong>{{total| currency: 'INR'}}</strong>
                    </li>
                </ul>
                <!-- Cart -->


            </div>
            <!--Grid column-->

        </div>
        <!--Grid row-->

    </div>
</main>
<!--Main layout-->
<app-footer></app-footer>
