<app-main-nav></app-main-nav>
<div class="container" id="invoice" #invoice style="padding: 30px;">
    <div class="invoice overflow-auto">
        <div style="min-width: 600px">
            <header style="padding: 10px 0;
            margin-bottom: 20px;
            border-bottom: 1px solid #3989c6;">
                <div class="row">
                    <div class="col company-details">
                        <h2 class="name">
                            <a target="_blank">
                        Medico 24/7
                        </a>
                        </h2>
                        <div>Chandi Ghosh Road</div>
                        <div>Kolkata -700040, West Bengal, India</div>
                        <div class="email"><a href="care@medico.com">care@medico.com </a></div>
                    </div>
                </div>
            </header>
            <main *ngFor="let order of orderDatas">
                <div class="row contacts">

                    <div class="col invoice-to">
                        <br>
                        <div class="text-gray-light"><b>INVOICE TO: </b></div>
                        <h2 class="to">{{order.shippingAddress.userName}}</h2>
                        <div class="address">{{order.shippingAddress.addressLine1}}</div>
                        <div class="address">{{order.shippingAddress.city}}</div>
                        <div class="address">{{order.shippingAddress.state}}</div>
                        <div class="address">{{order.shippingAddress.pin}}</div>
                        <div class="email"><a href={{order.emailAddress}}>{{order.emailAddress}}</a></div>
                    </div>
                    <div class="col invoice-details">
                        <h1 class="invoice-id">INVOICE Id:<b>{{order._id}} </b></h1>
                        <div class="date">Date of Invoice: {{date}}</div>
                        <div>Status : {{order.status}}</div>
                    </div>
                </div>

                <table cellspacing="0" cellpadding="0">
                    <thead>
                        <tr>

                            <th>QUANTITY</th>
                            <th class="text-left">PRODUCT NAME</th>
                            <th class="text-right">TOTAL</th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let product of order.products">
                        <tr>
                            <td class="no">{{product.quantity}}</td>
                            <td class="text-left">
                                <h3>
                                    <a target="_blank">
                                    {{product.productName}}
                                  </a>
                                </h3>
                            </td>
                            <td class="total">{{product.price*product.quantity}}</td>
                        </tr>
                    </tbody>
                    <tfoot>


                        <tr>
                            <td colspan="1"></td>
                            <td colspan="1">GRAND TOTAL</td>
                            <td>{{order.total}}</td>
                        </tr>
                    </tfoot>
                </table>
                <br>
                <br>

            </main>

            <div style="margin-right: 30px; color: blue;">
                Invoice was created on a computer and is valid without the signature and seal.
            </div>
        </div>
        <div class="toolbar hidden-print">
            <div class="text-right">

                <button class="btn btn-info" (click)="SavePDF()"><i class="fa fa-file-pdf-o"></i> Export as PDF</button>
            </div>
            <hr>
        </div>

    </div>
</div>



        <!-- {{date}}
            <div *ngFor="let order of orderDatas">
                {{order._id}}
                <div *ngFor="let product of order.products">
                    {{product.productName}} {{product.price}}

                </div>
                <div>
                    {{order.shippingAddress.userName}} {{order.shippingAddress.addressLine1}} {{order.emailAddress}}
                    <div *ngIf="paymentMode === 'Cash On Delivery'">
                        PaymentMode:Cash on Delivery
                    </div>
                    <div *ngIf="paymentMode != 'Cash On Delivery'">
                        PaymentMode: Paid with card PaymentToken: {{order.paymentToken}}
                    </div>
                </div>
            </div>
        </div> -->


        <!-- <div class="container">
    <div class="container" id="invoice" #invoice>
        <div class="invoice overflow-auto">
            <div style="min-width: 600px">
                <header>
                    <div class="row">
                        <div class="col company-details">
                            <h2 class="name">
                                <a target="_blank">
                    Medico 24/7
                    </a>
                            </h2>
                            <div>Chandi Ghosh Road</div>
                            <div>Kolkata -700040, West Bengal, India</div>
                            <div>care@medico.com</div>
                        </div>
                    </div>
                </header>
            </div>
        </div>


        {{date}}
        <div *ngFor="let order of orderDatas">
            {{order._id}}
            <div *ngFor="let product of order.products">
                {{product.productName}} {{product.price}}

            </div>
            <div>
                {{order.shippingAddress.userName}} {{order.shippingAddress.addressLine1}} {{order.emailAddress}}
                <div *ngIf="paymentMode === 'Cash On Delivery'">
                    PaymentMode:Cash on Delivery
                </div>
                <div *ngIf="paymentMode != 'Cash On Delivery'">
                    PaymentMode: Paid with card PaymentToken: {{order.paymentToken}}
                </div>
            </div>
        </div>
    </div>
    <input type="button" value="Download PDF" class="btn btn-success" (click)="SavePDF()">
</div> -->

<app-footer></app-footer>
