<app-main-nav></app-main-nav>
<!--Main Navigation-->
<header>

  <!-- Navbar -->
  </header>
<!--Main Navigation-->

<!--Main layout-->
<main class="pt-5 mx-lg-5">
  <div class="container-fluid mt-5">

    <!-- Heading -->
    <app-branch (addBranch)= "branch($event)" *ngIf="idForBed != 2" ></app-branch>
    <!-- Heading -->
    <app-chart [bedList]="ultimateResult" [id2]= "idForBed" [hospitalAddress]="hospitalAddress"
    [state] = "state" [city]="city" [pin]="pin"></app-chart>

  </div>
</main>
<!--Main layout-->
<br>
<hr>
<app-footer></app-footer>
