<app-main-nav></app-main-nav>
<!--Main Navigation-->
<header>

  <!-- Navbar -->
  </header>
<!--Main Navigation-->

<!--Main layout-->
<main class="pt-5 mx-lg-5">
  <div class="container-fluid mt-5">

    <!-- Heading -->
    <div class="card mb-4 wow fadeIn">

      <!--Card content-->
      <div class="card-body d-sm-flex justify-content-between">

        <h4 class="mb-2 mb-sm-0 pt-1">
          <a href="https://mdbootstrap.com/docs/jquery/" target="_blank">Home Page</a>
          <span>/</span>
          <span>Dashboard</span>
        </h4>

        <form class="d-flex justify-content-center">
          <!-- Default input -->
          <input type="search" placeholder="Type your query" aria-label="Search" class="form-control">
          <button class="btn btn-primary btn-sm my-0 p" type="submit">
            <i class="fas fa-search"></i>
          </button>

        </form>

      </div>

    </div>
    <!-- Heading -->

    <!--Grid row-->
    <div class="row wow fadeIn">

      <!--Grid column-->
      <div class="col-md-9 mb-4">
        <app-branch (addBranch)= "branch($event)"></app-branch>
        <!--Card-->
        <div class="card">
          <div class="card-header text-center">
            My chart
          </div>
          <!--Card content-->
            <app-chart [bedList]="ultimateResult"></app-chart>

        </div>
        <!--/.Card-->

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-md-3 mb-4">

        <!--Card-->
        <div class="card mb-4">

          <!-- Card header -->
          <div class="card-header text-center">
            Pie chart
          </div>

          <!--Card content-->
          <div class="card-body">

            <google-chart #chart1 [title]="title1" [type]="type1" [data]="data1" [columnNames]="columnNames1" [options]="options1" [width]="width1" [height]="height1">
            </google-chart>

          </div>

        </div>
        <!--/.Card-->

        <!--Card-->
        <div class="card mb-4">

          <!--Card content-->
          <div class="card-body">

            <!-- List group links -->
            <div class="list-group list-group-flush">
              <a class="list-group-item list-group-item-action waves-effect">Sales
                <span class="badge badge-success badge-pill pull-right">22%
                  <i class="fas fa-arrow-up ml-1"></i>
                </span>
              </a>
              <a class="list-group-item list-group-item-action waves-effect">Traffic
                <span class="badge badge-danger badge-pill pull-right">5%
                  <i class="fas fa-arrow-down ml-1"></i>
                </span>
              </a>
              <a class="list-group-item list-group-item-action waves-effect">Orders
                <span class="badge badge-primary badge-pill pull-right">14</span>
              </a>
              <a class="list-group-item list-group-item-action waves-effect">Issues
                <span class="badge badge-primary badge-pill pull-right">123</span>
              </a>
              <a class="list-group-item list-group-item-action waves-effect">Messages
                <span class="badge badge-primary badge-pill pull-right">8</span>
              </a>
            </div>
            <!-- List group links -->

          </div>

        </div>
        <!--/.Card-->

      </div>
      <!--Grid column-->

    </div>
    <!--Grid row-->

    <!--Grid row-->
    <div class="row wow fadeIn">

      <!--Grid column-->
      <div class="col-md-6 mb-4">

        <!--Card-->
        <div class="card">

          <!--Card content-->
          <div class="card-body">

            <!-- Table  -->
            <table class="table table-hover">
              <!-- Table head -->
              <thead class="blue-grey lighten-4">
                <tr>
                  <th>#</th>
                  <th>Lorem</th>
                  <th>Ipsum</th>
                  <th>Dolor</th>
                </tr>
              </thead>
              <!-- Table head -->

              <!-- Table body -->
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Cell 1</td>
                  <td>Cell 2</td>
                  <td>Cell 3</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Cell 4</td>
                  <td>Cell 5</td>
                  <td>Cell 6</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>Cell 7</td>
                  <td>Cell 8</td>
                  <td>Cell 9</td>
                </tr>
              </tbody>
              <!-- Table body -->
            </table>
            <!-- Table  -->

          </div>

        </div>
        <!--/.Card-->

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-md-6 mb-4">

        <!--Card-->
        <div class="card">

          <!--Card content-->
          <div class="card-body">

            <!-- Table  -->
            <table class="table table-hover">
              <!-- Table head -->
              <thead class="blue lighten-4">
                <tr>
                  <th>#</th>
                  <th>Lorem</th>
                  <th>Ipsum</th>
                  <th>Dolor</th>
                </tr>
              </thead>
              <!-- Table head -->

              <!-- Table body -->
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Cell 1</td>
                  <td>Cell 2</td>
                  <td>Cell 3</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Cell 4</td>
                  <td>Cell 5</td>
                  <td>Cell 6</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>Cell 7</td>
                  <td>Cell 8</td>
                  <td>Cell 9</td>
                </tr>
              </tbody>
              <!-- Table body -->
            </table>
            <!-- Table  -->

          </div>

        </div>
        <!--/.Card-->

      </div>
      <!--Grid column-->

    </div>
    <!--Grid row-->

    <!--Grid row-->
    <div class="row wow fadeIn">

      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-6 col-md-6 mb-4">

        <!--Card-->
        <div class="card">

          <!-- Card header -->
          <div class="card-header">Doughnut Chart</div>

          <!--Card content-->
          <div class="card-body">

            <canvas id="doughnutChart"></canvas>

          </div>

        </div>
        <!--/.Card-->

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-6 col-md-6 mb-4">

        <!--Card-->
        <div class="card">

          <!-- Card header -->
          <div class="card-header">Horizontal Bar Chart</div>

          <!--Card content-->
          <div class="card-body">

            <canvas id="horizontalBar"></canvas>

          </div>

        </div>
        <!--/.Card-->

      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->

    <!--Grid row-->
    <div class="row wow fadeIn">

      <!--Grid column-->
      <div class="col-md-6 mb-4">

        <!--Card-->
        <div class="card">

          <!-- Card header -->
          <div class="card-header">Google map</div>

          <!--Card content-->
          <div class="card-body">
            <!--Google map-->
            <div id="map-container-google-2" class="z-depth-1-half map-container" style="height: 500px">
              <iframe src="https://maps.google.com/maps?q=48/1F, Leela Roy Sarani, Gariahat Rd, near Orchestra Co-Operative Housing Society, Ballygunge, Kolkata, West Bengal 700019&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0"
                style="border:0" allowfullscreen></iframe>
            </div>

            <!--Google Maps-->

          </div>

        </div>
        <!--/.Card-->

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-md-6 mb-4">

        <!--Card-->
          <!--Section: Modals-->

          <!--Section: Modals-->

          <!-- Card header -->


        <!--/.Card-->

      </div>
      <!--Grid column-->

    </div>
    <!--Grid row-->

  </div>
</main>
<!--Main layout-->
<br>
<hr>
<app-footer></app-footer>
